[all:vars]

# E.g.: redis://default:*****@redis-xx.cxx.eu-central-1-1.ec2.redns.redis-cloud.com:10155
ocp4_workload_connectivity_link_kuadrant_redis_url=<external redis url>

ocp4_workload_connectivity_link_aws_access_key=<AWS_ACCESS_KEY_ID>
ocp4_workload_connectivity_link_aws_secret_access_key=<AWS_SECRET_ACCESS_KEY>

# E.g.: Z12345677XYZ0FF0GBHIJ0
ocp4_workload_connectivity_link_aws_managed_zone_id=<Managed Zone ID>

# E.g.: globex.sandbox902.opentlc.com
ocp4_workload_connectivity_link_aws_managed_zone_domain=<Managed Zone domain>

# E.g.: This is the region where you have OpenShift running. (example eu-central-1)
ocp4_workload_connectivity_link_aws_managed_zone_region=<Managed Zone region>

#your email address
ocp4_workload_connectivity_link_ingress_gateway_tls_issuer_email=<email for letsencrypt>

#E.g. EU/US
ocp4_workload_connectivity_link_gateway_geo_code=<gateway geo code>