[all:vars]

ocp4_workload_connectivity_link_aws_access_key=<AWS_ACCESS_KEY_ID>
ocp4_workload_connectivity_link_aws_secret_access_key=<AWS_SECRET_ACCESS_KEY>

# E.g.: sandbox902.opentlc.com
ocp4_workload_connectivity_link_main_domain=<Root Zone domain>

#don't change unless mandatory
ocp4_workload_connectivity_link_sub_domain_name=globex

# E.g.: This is the region where you have OpenShift running. (example eu-central-1)
ocp4_workload_connectivity_link_aws_managed_zone_region=<Managed Zone region>

#your email address
ocp4_workload_connectivity_link_ingress_gateway_tls_issuer_email=<email for letsencrypt>

#E.g. EU/US
ocp4_workload_connectivity_link_gateway_geo_code=<gateway geo code>
