---

apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_connectivity_link_argocd_repo_secret }}
  namespace: {{ ocp4_workload_connectivity_link_argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ ocp4_workload_connectivity_link_gitops_repo }}
  project: {{ ocp4_workload_connectivity_link_gitops_infra_project }}
  password: {{ ocp4_workload_connectivity_link_gitops_repo_password }}
