[all:vars]

ocp4_workload_connectivity_link_gitops_repo_password=<github token>

ocp4_workload_connectivity_link_kuadrant_redis_url=<external redis url>

ocp4_workload_connectivity_link_aws_access_key=<AWS_ACCESS_KEY_ID>
ocp4_workload_connectivity_link_aws_secret_access_key=<AWS_SECRET_ACCESS_KEY>

ocp4_workload_connectivity_link_aws_managed_zone_id=<Managed Zone ID>
ocp4_workload_connectivity_link_aws_managed_zone_domain=<Managed Zone domain>
ocp4_workload_connectivity_link_aws_managed_zone_region=<Managed Zone region>

ocp4_workload_connectivity_link_ingress_gateway_tls_issuer_email=<email for letsencrypt>
ocp4_workload_connectivity_link_gateway_geo_code=<gateway geo code>